
*{box-sizing: border-box;}
body{
   margin: 0;
   padding: 0;
   background-color: white;
   font-family: 'Playfair Display', serif;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    background-image: url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg); /* Cambia por una imagen de comida */
    background-size: cover;
    background-position: center;
   
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    color: white;
    


}

.ul-header{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.barra-nav{
    text-decoration: none;
    color: black;
    margin: 10px;
   

}
.navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    
}

.banner h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 10px 0; 
    font-size: 50px;

}

.banner p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0px 0px 12px 0px;
    font-size: 20px;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#search {
    margin-bottom: 20px;
    width: 300px;
    height: 41px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    border: none
}
.but-buscar{
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #ff6f61;
    color: white;
}
.but-buscar:hover {
    background-color: #e63946;
}


img{
    display: flex;
    align-self: center;
    justify-self: center;
}
p{
    padding: 0 10px;
}

.img-index {
    height: auto;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: cover;
   
}
#h1-index {
    display: flex;
    justify-content: center;
}
.campo-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.receta{
width: 26%;
background-color: #e4dfd2;
border-radius: 50px;
margin-bottom: 50px;
}
.receta a{
    text-decoration: none;
}
.receta-text{
    text-align: center;
    }

.receta-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333; 
}

.receta-text p {
    font-size: 15px;
    color: #555; 
    margin-bottom: 15px;
}


article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.seccion-footer{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    justify-self: center;
    width: 90vw;
}

.logoimg{
    width: 100px;
    height: auto;
}

.feedback-error {
    display: none;
}

.error-register {
    color: red;
   
}

.error-index {
    display: flex;
    justify-content: center;
    color: red;
}
