
*{box-sizing: border-box;}
body{
   margin: 0;
   padding: 0;
   background-color: white;
   font-family: 'Playfair Display', serif;
}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    background-image: url(../img/brooke-lark-08bOYnH_r_E-unsplash.jpg); 
    background-size: cover;
    background-position: center;
   
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
    color: white;
    


}

h1{
    text-align: center;
}
ul{
    padding:0;
}

.ul-header{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.barra-nav{
    text-decoration: none;
    color: black;
    margin: 10px;
   

}
.navegacion {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
    
}

.banner h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 10px 0; 
    font-size: 50px;

}

.banner p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0px 0px 12px 0px;
    font-size: 20px;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

#search {
    margin-bottom: 20px;
    width: 300px;
    height: 41px;
    font-size: 16px;
    border-radius: 20px 0 0 20px;
    border: none
}
.but-buscar{
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 0 20px 20px 0;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: white;
}


img{
    display: flex;
    align-self: center;
    justify-self: center;
}
p{
    padding: 0 10px;
}

.img-index {
    height: auto;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: cover;
   
}
.h1-main {
    display: flex;
    justify-content: center;
}
.campo-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.receta{
width: 26%;
background: linear-gradient(to right, #e4dfd2, #c0978b);
border-radius: 50px;
margin-bottom: 50px;
box-shadow: 0 22px 30px rgb(45 41 41 / 76%);
}
.receta:hover {
    background: linear-gradient(to right, #c0978b,#e4dfd2 );
    box-shadow: 0 8px 20px rgba(247, 214, 171, 0.986);
}
.receta a{
    text-decoration: none;
}
.receta-text{
    text-align: center;
    }

.receta-text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333; 
}

.receta-text p {
    font-size: 15px;
    color: #555; 
    margin-bottom: 15px;
    padding: 0 0;
}

#div-cargar {
    display: flex;
    justify-content: center;
    
}
#cargar-mas {
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: white;

    
}
#cargar-mas:hover, .but-buscar:hover {
    background: linear-gradient(to right, #fad0c4, #ff9a9e);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.seccion-footer{
    margin-top: 50px ;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #03203d;}

.article-footer {
    text-align: center;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);    
    border-radius: 20px;
}
.article-footer h2 {
    color: #ff6f61;
}
.article-footer p {
    font-size: 15px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.redes{
display: flex;
}
.footer-bottom {
    background-color: #002244;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
}
.logoimg{
    width: 100px;
    height: auto;
}

.resultados {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.categoria-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.feedback-error {
    display: none;
}

.error-register {
    color: red;
   
}

.error-index {
    display: flex;
    justify-content: center;
    color: red;
}
